extends layout

block content
  br
  br
  br
  br
  header(class="logo") Study Together! 
  div.clock-container 
    h2 40 
      a(href='/people') people
      |  are currently studying. 
    div.bubble#b1
    div.bubble#b2
    div.bubble#b3
    div.bubble#b4
    br
    form#login_form.form(method='POST' action='' novalidate)
      button#start(type='submit') Join Them!
      