extends layout

block content
  form#login_form.form(method='POST' action='' novalidate)
    div.form-group
      h1 #{title}
      div.errors
        if errors
          ul 
            for error in errors
              li!= error.msg
        if success 
          li!= success
      label
      input#uid.form-input.form-control(type='text' placeholder='Username' name='username' required='true' value!=(undefined===username ? '' : username) autocomplete='off') 
      label
      input#pwd.form-input.form-control(type='text' placeholder='Password' name='password' required='true' autocomplete='off')
      button.btn.btn-primary(type='submit') Login
  br
  p don't have an account?
  a(href='/signup') signup
      